<nav class="navbar navbar-default bg-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span>MENU</span>
      </button>
      <a class="navbar-brand" [routerLink]="['/administrador']">Administrador</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/administrador']">Home</a></li>
        <li><a [routerLink]="['/administrador/crearLibro']">Crear Libro</a></li>
      </ul>
    </div>
  </div>
</nav>
