<div class="row">
  <div class="col-sm-10">
    <h1 class="text-center">{{title}}</h1>
  </div>
  <div class="col-sm-2">
    <img [src]="" alt="libro">
  </div>
</div>
<nav class="navbar navbar-default bg-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span>MENU</span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Categorías
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/libro']">Biografía</a></li>
          <li><a [routerLink]="['/libro']">Clásico</a></li>
          <li><a [routerLink]="['/libro']">Aventuras</a></li>
          <li><a [routerLink]="['/libro']">Ciencia Ficción / Fantasía</a></li>
          <li><a [routerLink]="['/libro']">Romántica</a></li>
          <li><a [routerLink]="['/libro']">Misterio / Suspenso</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/recientes']">Recientes</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
