<div class="container">
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col-sm-8">
      <h3>{{subtitle1}}</h3>
      <div class="form-group">
        <label>Nombre del libro: </label> {{libro.nombreLibro}}
        <br>
        <label>Precio: </label> {{libro.precioLibro}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h3>{{subtitle2}}</h3>
      <form (ngSubmit)="realizarCompra(NuevaCompraForm)" #NuevaCompraForm="ngForm">
        <div class="form-group">
          <label>Nombre del Titular de la Tarjeta</label>
          <input type="text" class="form-control" placeholder="Ingrese nombre del titular de la tarjeta" name="nombreTitular" [(ngModel)]="nuevaCompra.nombreTitular" #nombreTitular="ngModel" #nombreElm>
        </div>

        <div class="form-group">
          <label>Tipo de Tarjeta</label>
          <select type="text" class="form-control" placeholder="Seleccione" name="tipoTarjeta"
                  [(ngModel)]="nuevaCompra.tipoTarjeta" #tipoTarjeta="ngModel" #nombreElm  ng-options="">
            <option value="Visa">Visa</option>
            <option value="Diners">Diners</option>
            <option value="Mastercard">Mastercard</option>
          </select>
        </div>
        <div class="form-group">
          <label>Número de Tarjeta</label>
          <input  type="number" class="form-control" placeholder="Ingrese el numero de la tarjeta" name="numeroTarjeta"
                  [(ngModel)]="nuevaCompra.numeroTarjeta" #numeroTarjeta="ngModel" #nombreElm>
        </div>
        <div class="form-group">
          <label>Codigo DIV</label>
          <input  type="number" class="form-control" placeholder="Ingrese el codigo DIV" name="codigoDiv"
                  [(ngModel)]="nuevaCompra.codigoDiv" #codigoDiv="ngModel" #nombreElm>
        </div>

        <div class="form-group">
          <label>Fecha de Caducidad</label>
          <input  type="date" class="form-control" placeholder="Ingrese fecha de caducidad de la tarjeta" name="fechaCaducidad"
                  [(ngModel)]="nuevaCompra.fechaCaducidad" #fechaCaducidad="ngModel" #nombreElm>
        </div>


        <button [disabled]="disabledButtons.NuevaCompraFormSubmitButton" type="submit" class="btn btn-success">Comprar</button>
        <button type="submit" class="btn btn-danger" [routerLink]="['/home']">Cancelar Compra</button>


      </form>

    </div>
  </div>



</div>

