<div class="container">
  <h2>{{title}}</h2>
  <h3>Libro: {{libro.nombreLibro}}</h3>

  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-default" [routerLink]="['/home',_parametros.idLibro,'entradas']">Ver Entradas</button>
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-2" style="padding-bottom: 10px">
      <button class="btn btn-default" [routerLink]="[_parametros.idLibro,'crearFrase']">Nueva Frase</button>
    </div>
  </div>

  <div class="row text-center" style="padding-bottom: 20px">
    <img src="{{libro.imagenLibro}}" alt="" height="250">
  </div>

  <p>{{description}}</p>

  <div class="row"  style="border-top: double #000000">
    <div class="col-sm-12" *ngFor="let frase of frases">
      <br>
      <div class="col-sm-7">
        <h5 style="font-style:italic">{{frase.fraseDescripcion}}</h5>
      </div>
      <div class="col-sm-4" style="padding-top: 40px">
        <p style="text-decoration-style: double">Autor: {{frase.autor}}</p>
        <br><br>
      </div>
      <br><br>
    </div>
  </div>
</div>
