<h2 class="text-center">{{title}}</h2>
<br>
<div class="row">
  <div class="container">
    <br>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div *ngIf="librosCarrusel.length>1">
        <h4>{{librosCarrusel[indiceActual].nombreLibro}}</h4>
        <img [src]="librosCarrusel[indiceActual].imagenLibro" style="height: 300px" alt="">
        <h3>{{librosCarrusel[indiceActual].autorLibro}}</h3>
      </div>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<br><br>


<h4 class="text-center">{{subtitle}}</h4>
<div class="container" style="padding-top: 30px">
  <!--<button class="btn btn-default btn-block" (click)="listarLibros()">Mostrar mas</button>-->
  <div class="row text-center"  *ngFor="let libro of libros">
    <div class="col-sm-12">
      <br>
      <div class="col-sm-5">
        <img [src]="libro.imagenLibro" alt="libro" width="150" height="200">
      </div>
      <div class="col-sm-7" style="padding-top: 50px">
        <p style="text-decoration-style: double">Nombre: {{libro.nombreLibro}}</p>
        <p>Autor: {{libro.autorLibro}}</p>
        <p>Categoría: {{libro.categoriaLibro}}</p>
        <a [routerLink]="[libro.id,'entradas']">Ir a Reseñas</a>
        <br>
        <a [routerLink]="[libro.id,'frases']">Ir a Frases</a>
        <br><br>
      </div>
    </div>
    <div class="row">
    </div>
    <br>
  </div>
</div>


