<div class="container" style="padding-bottom: 20px">
  <button class="btn btn-default principal" [routerLink]="['/administrador/crearLibro']">Crear Libro</button>
  <button class="btn btn-default principal" [routerLink]="['/administrador']">Listar Libros</button>
</div>

<div class="container">
  <h2>{{subtitle}}</h2>
  <div class="row">
    <div class="col-sm-8">
      <form (ngSubmit)="crearLibro(NuevoLibroForm)" #NuevoLibroForm="ngForm">
        <div class="form-group">
          <label>Nombre del Libro</label>
          <input required type="text" class="form-control" placeholder="Ingrese nombre del libro"
                 name="nombreLibro" [(ngModel)]="nuevoLibro.nombreLibro" #nombreMateria="ngModel" #nombreElm>
        </div>
        <div class="form-group">
          <label>Autor</label>
          <input required type="text" class="form-control" placeholder="Ingrese el autor del libro"
                 name="autorLibro" [(ngModel)]="nuevoLibro.autorLibro" #topicoMateria="ngModel" #nombreElm>
        </div>
        <div class="form-group">
          <label>Número de Páginas</label>
          <input required type="number" class="form-control" placeholder="Ingrese numero de paginas" name="numeroPaginas"
                 [(ngModel)]="nuevoLibro.numeroPaginas" #fechaCreacion="ngModel" #nombreElm>
        </div>
        <div class="form-group">
          <label>Tipo de Lectura</label>
          <select required type="text" class="form-control" placeholder="Seleccione" name="categoriaLibro"
                 [(ngModel)]="nuevoLibro.categoriaLibro" #fechaCreacion="ngModel" #nombreElm  ng-options="">
            <option value="Biografia">Biografía</option>
            <option value="Clasica">Clásico</option>
            <option value="Aventuras">Aventuras</option>
            <option value="Ciencia Ficcion / Fantasia">Ciencia Ficción / Fantasía</option>
            <option value="Romantica">Romántica</option>
            <option value="Misterio / Suspenso">Misterio / Suspenso</option>
          </select>
        </div>
        <div class="form-group">
          <label>Imagen del Libro</label>
          <input required type="text" class="form-control" placeholder="Ingrese la url del libro" name="imagenLibro"
                 [(ngModel)]="nuevoLibro.imagenLibro" #imagenLibro="ngModel" #nombreElm>
        </div>
        <div class="form-group">
          <label>Sinopsis del Libro</label>
          <textarea required type="text" class="form-control" placeholder="Ingrese la sinopsis del libro" name="sinopsisLibro"
                    [(ngModel)]="nuevoLibro.sinopsisLibro" #sinopsisLibro="ngModel" #nombreElm rows="10"></textarea>
        </div>


        <button [disabled]="disabledButtons.NuevoLibroFormSubmitButton" type="submit" class="btn btn-success">Crear Libro
        </button>
        <button type="submit" class="btn btn-warning" [routerLink]="['/administrador']">Regresar a Lista de Libros
        </button>

      </form>
    </div>
    </div>
  </div>
